<html lang="en">
  <head>
    <title>Home</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Source [4] -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css"
    />
  </head>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div id="navbar" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="{{ url_for('logout') }}"> Logout </a>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-light" href="{{ url_for('question') }}">
              Ask Question
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <section class="section">
    <div class="container">
      <h1 class="title">Questions Asked on {{ expanded_date }}.</h1>
      <h1 class="subtitle">
        {{ num_of_questions }} question(s) were asked today.
      </h1>
      <div
        class="notification is-danger"
        id="delete-notification"
        style="display: none"
      >
        <button class="delete"></button>
      </div>
      <div
        class="container is-flex-mobile"
        style="width: 95%; margin-top: 60px"
      >
        <div class="columns">
          <div class="column is-three-fifths">
            <h1 class="title" style="margin-bottom: 0.95rem"><i>Posts</i></h1>
            {% for post in questions %}
              {% if not post['resource'] %}
                <div class="box">
                  <article class="media">
                    <div class="media-content">
                      <div class="content">
                        <h1 class="title is-4">{{ post['title'] }}</h1>
                        <p class="subtitle is-6" style="color: brown">
                          Posted by {{ post['name'] }} at {{ post['time'] }}
                        </p>
                        {% if not post['resource'] %}
                          <a href="/resource/{{ post['id'] }}">Post to Resources</a>
                        {% endif %}
                        <hr style="margin-top: 0" />
                        <p style="margin-bottom: 7px">{{ post['question'] }}</p>
                      </div>
                      <nav class="level is-mobile">
                        <div class="level-left">
                          <a class="level-item" href="/reply/{{ post['id'] }}">
                            <span class="icon is-small"
                              ><i class="fas fa-reply"></i
                            ></span>
                          </a>
                        </div>
                      </nav>
                      {% if post['replies'] %}
                        <h1 class="title is-5">Replies</h1>
                        <hr style="margin-top: 0" />
                        <ul>
                          {% for reply in post['replies'] %}
                            <li>
                              <p class="subtitle is-6">
                                Asked by {{ reply['user'] }} at {{ reply['time'] }}
                              </p>
                              <p>{{ reply['text'] }}</p>
                            </li>
                            <br>
                            <hr style="margin-top: 0" />
                          {% endfor %}
                        </ul>
                      {% endif %}
                    </div>
                  </article>
                </div>
              {% endif %}
            {% endfor %}
          </div>
          <div class="column is-hidden-mobile">
            <h1 class="title is-4"><i>Extra stuff</i></h1>
            <div class="box">
              <div class="content">
                <h1 class="title is-3">Resources</h1>
                <p class="subtitle is-5">
                  Here is the list of posted resources. This will be saved.
                </p>
                <ol style="margin-left: 25px">
                  {% for post in questions %}
                    {% if post['resource'] %}
                      <li>
                        {{ post['title'] }}
                        <br />
                        <small>{{ post['question'] }}</small>
                      </li>
                    {% endif %}
                  {% endfor %}
                </ol>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</html>
