<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Signup</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Source [4] -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css"
    />
  </head>
  <body>
    {% if confirmFail %}
      <p>Passwords do not match.</p>
    {% endif %}
    {% if weakPwd %}
      <p>Your password is too weak, try to get more than 6 chars.</p>
    {% endif %}
    <div class="card" id="signup-card" style="padding: 15px; width: 500px; margin: 20px;">
      <form method="POST">
        <div class="field">
          <label class="label">Username</label>
          <div class="control">
            <input
              class="input"
              name="username"
              type="text"
              placeholder="e.g Alex Smith"
            />
          </div>
        </div>

        <div class="field">
          <label class="label">Email</label>
          <div class="control">
            <input
              class="input"
              name="email"
              type="email"
              placeholder="e.g. alexsmith@gmail.com"
            />
          </div>
        </div>

        <div class="field">
          <label class="label">Password (at least 6 characters)</label>
          <div class="control">
            <input
              class="input"
              name="pwd"
              type="password"
              placeholder="Make sure it's a strong password!"
            />
          </div>
        </div>

        <div class="field">
          <label class="label">Re-enter your password</label>
          <div class="control">
            <input
              class="input"
              name="pwd_confirm"
              type="password"
              placeholder="Case sensitive"
            />
          </div>
        </div>

        <div class="field is-grouped">
          <div class="control">
            <input type="submit" class="button is-link" />
          </div>
        </div>
        <a href="/login">Login</a>
      </form>
    </div>
  </body>
</html>
